<nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <a class="navbar-brand">
        <img src="./../../../assets/ccImage.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Campus Connect
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">

        <div class="d-flex flex-row-reverse">
            <a class="btn btn-info text-capitalize" (click)='logout()'>Log Out({{userName}})</a>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-4">Trainers List-</h1>

  </div>
</div>
<div class='container-fluid'>
  <table class="table table-dark table-striped" *ngIf="trainers" width='70%'>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Phone-no.</th>
        <th scope="col">Mail-ID</th>
        <th scope="col">Java</th>
        <th scope="col">C</th>
        <th scope="col">Android</th>
        <th scope="col">Experience</th>
        <th scope="col">MayAvailability</th>
        <th scope="col">JuneAvailability</th>
        <th scope="col">JulyAvailability</th>
        <th *ngIf="this.userType=='admin'" scope="col">Edit</th>
        <th *ngIf="this.userType=='admin'" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let trainer of trainers">
        <th scope="row">#
        </th>
        <td class="text-capitalize">{{trainer.name}}</td>
        <td>{{trainer.age}}</td>
        <td>{{trainer.contactNo?'trainer.contactNo':'Not-given'}}</td>
        <td>{{trainer.email}}</td>
        <td>{{trainer.knowsJava?'Skilled':'Not-skilled'}}</td>
        <td>{{trainer.knowsC?'Skilled':'Not-skilled'}}</td>
        <td>{{trainer.knowsAndroid?'Skilled':'Not-skilled'}}</td>
        <td>{{trainer.experience}}</td>
        <td>{{trainer.mayAvailable?'Available':'Not-available'}}</td>
        <td>{{trainer.juneAvailable?'Available':'Not-available'}}</td>
        <td>{{trainer.julyAvailable?'Available':'Not-available'}}</td>
        <td *ngIf="this.userType=='admin'"><button class="button btn-primary btn-sm" (click)="editTrainer(trainer.trainerId)">Edit</button></td>
        <td *ngIf="this.userType=='admin'">
            
          <button class="button btn-danger btn-sm" (click)="deleteTrainer(trainer.trainerId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

