<nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <a class="navbar-brand">
        <img src="./../../../assets/ccImage.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Campus Connect
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">

        <div class="d-flex flex-row-reverse">
            <a class="btn btn-info text-capitalize" (click)='logout()'>Log Out({{userName}})</a>
        </div>
    </div>
</nav>
<br>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
     
        <a class="nav-link active" id="java1-tab" data-toggle="pill" href="#java1" role="tab" aria-controls="java1" aria-selected="true">Java 1</a>
      
      
        <a class="nav-link" id="java2-tab" data-toggle="pill" href="#java2" role="tab" aria-controls="java2" aria-selected="false">Java 2</a>
      
        <a class="nav-link" id="java3-tab" data-toggle="pill" href="#java3" role="tab" aria-controls="java3" aria-selected="false">Java 3</a>
     
        <a class="nav-link" id="c1-tab" data-toggle="pill" href="#c1" role="tab" aria-controls="c1" aria-selected="false">C 1</a>
      
        <a class="nav-link" id="c2-tab" data-toggle="pill" href="#c2" role="tab" aria-controls="c2" aria-selected="false">C 2</a>
     
        <a class="nav-link " id="c3-tab" data-toggle="pill" href="#c3" role="tab" aria-controls="c3" aria-selected="false">C 3</a>
     
        <a class="nav-link" id="a1-tab" data-toggle="pill" href="#a1" role="tab" aria-controls="a1" aria-selected="false">Android 1</a>
      
        <a class="nav-link" id="a2-tab" data-toggle="pill" href="#a2" role="tab" aria-controls="a2" aria-selected="false">Android 2</a>
     
        <a class="nav-link" id="a3-tab" data-toggle="pill" href="#a3" role="tab" aria-controls="a3" aria-selected="false">Android 3</a>
     
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
       
      <div class="tab-pane fade show active" id="java1" role="tabpanel" aria-labelledby="java1-tab"><iframe width="760"
          height="425" src="https://www.youtube.com/embed/aqHhpahguVY" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tab-pane fade" id="java2" role="tabpanel" aria-labelledby="java2-tab"><iframe width="760" height="425"
          align="middle" src="https://www.youtube.com/embed/oYXivKMSEqM" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tab-pane fade" id="java3" role="tabpanel" aria-labelledby="java3-tab"><iframe width="760" height="425"
          align="middle" src="https://www.youtube.com/embed/K_-3OLkXkzY" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tab-pane fade" id="a1" role="tabpanel" aria-labelledby="a1-tab"><iframe width="560" height="315"
          src="https://www.youtube.com/embed/XgCF58tuo2k" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tab-pane fade" id="a2" role="tabpanel" aria-labelledby="a2-tab"><iframe width="560" height="315"
          src="https://www.youtube.com/embed/pdAN4wtF-Oo" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tab-pane fade" id="a3" role="tabpanel" aria-labelledby="a3-tab"><iframe width="560" height="315"
          src="https://www.youtube.com/embed/mypwhMbCw8o" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tab-pane fade " id="c1" role="tabpanel" aria-labelledby="c1-tab"><iframe width="560" height="315"
          src="https://www.youtube.com/embed/si-KFFOW2gw" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tab-pane fade" id="c2" role="tabpanel" aria-labelledby="c2-tab"><iframe width="560" height="315"
          src="https://www.youtube.com/embed/sB7YGSbAIvQ" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tab-pane fade " id="c3" role="tabpanel" aria-labelledby="c3-tab"><iframe width="560" height="315"
        src="https://www.youtube.com/embed/nZnMH5x6PfQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      
    </div>
  </div>
</div>

