<nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
        <a class="navbar-brand">
            <img src="./../../../assets/ccImage.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Campus Connect
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">

            <div class="d-flex flex-row-reverse">
                <a class="btn btn-info text-capitalize" (click)='logout()'>Log Out({{userName}})</a>
            </div>
        </div>
    </nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Trainer form-</h1>
    </div>
</div>
<div class='container' style="padding-bottom:5%;">
    <form #f="ngForm">
        <div class="form-group row justify-content-center">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Trainer Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]='tname' name="tname"
                    placeholder="Name of the trainer">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Age:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" [(ngModel)]='age' name="age" placeholder="Age (in years)">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Experience(years):</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" [(ngModel)]='experience' name="experience"
                    placeholder="Years of Experience">
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Contact No.:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" [(ngModel)]='contactno' name="contactno"
                    placeholder="Enter valid contact number">
            </div>
        </div>


        <div class="form-group row justify-content-center">
                <label for="inputPassword6" class="col-sm-2 col-form-label">Java:</label>
                <div class="col-sm-10">
                    <select class="custom-select" name="Java" [(ngModel)]="Java">
                        <option *ngFor="let item of status">
                            {{item}}
                        </option>
                    </select>
                </div>
        </div>

        <div class="form-group row justify-content-center">
                <label for="inputPassword7" class="col-sm-2 col-form-label">C:</label>
                <div class="col-sm-10">
                    <select class="custom-select" name="C" [(ngModel)]="C">
                        <option *ngFor="let item of status">
                            {{item}}
                        </option>
                    </select>
                </div>
        </div>
        <div class="form-group row justify-content-center">
                <label for="inputPassword8" class="col-sm-2 col-form-label">Android:</label>
                <div class="col-sm-10">
                    <select class="custom-select" name="Android" [(ngModel)]="Android">
                        <option *ngFor="let item of status">
                            {{item}}
                        </option>
                    </select>
                </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="inputPassword8" class="col-sm-2 col-form-label">Email-Id:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="emailid" name="emailid"
                    placeholder="Enter valid Email ID">
            </div>
        </div>

        <div class="form-group row justify-content-center">
                <label for="inputPassword10" class="col-sm-2 col-form-label">May-Available:</label>
                <div class="col-sm-10">
                    <select class="custom-select" name="inMay" [(ngModel)]="inMay">
                        <option *ngFor="let item of status">
                            {{item}}
                        </option>
                    </select>
                </div>
        </div>

        <div class="form-group row justify-content-center">
                <label for="inputPassword10" class="col-sm-2 col-form-label">June-Available:</label>
                <div class="col-sm-10">
                    <select class="custom-select" name="inJune" [(ngModel)]="inJune">
                        <option *ngFor="let item of status">
                            {{item}}
                        </option>
                    </select>
                </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="inputPassword11" class="col-sm-2 col-form-label">July-Available:</label>
            <div class="col-sm-10">
                <select class="custom-select" name="inJuly" [(ngModel)]="inJuly">
                    <option *ngFor="let item of status">
                        {{item}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-1">
                <button (click)='addTrainer()' class="btn btn-primary btn-sm">Add it.</button>

            </div>
            <div class="col-2">
                <button type="reset" class="btn btn-danger btn-sm">Reset</button>
            </div>
        </div>
    </form>
</div>