<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">
    <img src="./../../../assets/ccImage.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Campus Connect
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarText">
    <div class="d-flex flex-row-reverse">
      <a class="btn btn-primary text-capitalize" (click)='logout()'>Log Out({{userName}})</a>
    </div>
  </div>
</nav>

<span class="oi oi-trash"></span>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Discussion-form</h1>
      <p class="lead">Here you can ask your queries as well as help others in real time.</p>
    </div>
  </div>
  <div>
    <div>
      <button (click)="create()" class="btn btn-danger btn-sm">Have a question? Ask here.</button><br>
      <div [hidden]="hasQuestion">
        <br>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="topic" name="topic" placeholder="Topic" required><br>
        <textarea type="text" class="form-control" [(ngModel)]="details" placeholder="Details" name="details"
          required></textarea><br>
        <button (click)="saveDiscussion()" class="btn btn-primary btn-sm">Save</button>
      </div>
    </div><br>
    <div *ngIf="discussions">
      <div *ngFor="let discussion of discussions">
        <div class="card border border-primary">
          <div class="card-body bg-dark text-white text-capitalize">
            <div class="text-success"><b>{{discussion.createdBy}}:&nbsp;</b><span class="text-white">{{discussion.topic}}<button *ngIf="discussion.createdBy===this.userName" (click)="deleteDiscussion(discussion)" class="btn btn-danger btn-sm float-right">Delete</button></span></div>
            <span>{{discussion.details}}</span><br>
            <span class="card-text text-muted text-small">{{discussion.createdOn|date}}</span>
            <a (click)="view(discussion.discussionId)" class="btn btn-primary btn-sm float-right">View-Replies</a>
            <div *ngIf="discussion.discussionisOpen"><br>
              <div *ngIf="discussion.replies">
                <div *ngFor="let reply of discussion.replies">
                  <div class="card bg-light">
                    <div class="card-body text-dark">
                      <div class="card-title text-primary"><b>{{reply.replyBy}}:</b>&nbsp;<span class="text-dark">{{reply.replyMsg}}</span></div>
                      <span class="card-text text-muted text-small">{{reply.replyCreatedOn|date}}</span>
                    </div> 
                  </div>
                  <br>
                </div>
              </div>
              <div *ngIf="!discussions" class="text-white">No replies found.</div>
              <div><b>Give reply:</b>&nbsp;
                <input type="text" class="form-control" [(ngModel)]="replyMsg" placeholder="Message" name="replyMsg"
                  required>
              </div><br>
              <button class="btn btn-success btn-sm" (click)="addReply(discussion)">Add reply</button>
            </div>
          </div>
        </div><br>
      </div>
    </div>
    <hr>
  </div>
</div>
<!--<object *ngIf="discussion.createdBy===this.userName" (click)="deleteDiscussion(discussion)" class="float-right" style="width:20px;height:25px;" data="./../../../assets/svg/trash.svg" type="image/svg+xml"></object> -->