<div class="container">
  <h1>Discussion-forum</h1>
  <br>
  <br>
  <br>
  <div>
    <div>
      <a (click)="create()">Have a question?</a>
      <div [hidden]="hasQuestion">
        <input type="text" class="form-control" [(ngModel)]="topic" name="topic" placeholder="topic" required>
        <textarea type="text" class="form-control" [(ngModel)]="details" placeholder="details" name="details"
          required></textarea>
        <button (click)="saveDiscussion()" class="btn btn-primary">Save</button>
      </div>
    </div>
    <div *ngIf="discussions">
      <div *ngFor="let discussion of discussions">
        <span>{{discussion.createdBy}}:</span>
        <span>{{discussion.topic}}</span>&nbsp;&nbsp;
        <span>{{discussion.createdOn|date}}</span><br>
        <span>{{discussion.details}}</span>
        <button (click)="view(discussion.discussionId)" class="btn btn-primary">View</button>
        <div *ngIf="discussion.discussionisOpen">
          <div *ngIf="discussion.replies">
            <div *ngFor="let reply of discussion.replies">
              <span>{{reply.replyBy}}:</span>
              <span>{{reply.replyMsg}}</span>&nbsp;&nbsp;
              <span>{{discussion.replyCreatedOn|date}}</span>
            </div>
          </div>
          <div *ngIf="!discussion.replies">No replies found.</div>
          <br>
          <div>Give reply:
            <input type="text" class="form-control" [(ngModel)]="replyMsg" placeholder="Message" name="replyMsg"
              required>
          </div>
          <button class="btn btn-primary" (click)="addReply(discussion)">Add reply</button>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>